{% extends "./abstract.html" %}
{% load static %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/scrollBehaviours.js' %}"></script>
    <script>
        var ReviewPanelOn = false;
        $(document).ready(function () {
            $('#ReviewButton').click(function () {
                if (ReviewPanelOn){
                    $('#company-card-main-review-form').addClass('hidden');
                }else{
                    $('#company-card-main-review-form').removeClass('hidden');
                }
                ReviewPanelOn = !ReviewPanelOn
            });
        });
    </script>

{% endblock %}

{% block content %}
    <div id="company-card">
        <div id="company-card-images">

            {% if company_photos %}
                    {% for photo in company_photos %}
                        <img src= "{% static 'media/' %}{{photo.href}}" >
                    {% endfor %}
            {% else %}
                <h4>Sem fotos...</h4>
            {% endif %}
        </div>
        <div id="company-card-main">
            <section id="company-card-main-info">
                <h1 class="inverse">{{company.user.first_name}}</h1>
                <h2 class="inverse">{{company.district.name}}, {{company.address}}</h2>
                <div class="star-rating" style="width:10%;margin-top:1vw">
                    {% for i in '01234'|make_list %}
                        <img {% if forloop.counter0 < company.rating_average %} class="star-filled" {% endif %}
                        src="{% static 'images/Star.svg' %}">
                    {% endfor %}
                    ({{company.rating_average|floatformat:"2"}})
                </div>

                <span style="margin-top:3vw">{{company.description}}</span>

            </section>
            <section id="company-card-main-review">


                {% if request.user.client %}
                <button class="green-button" id="ReviewButton">REVIEW</button>
                <form method="post" id="company-card-main-review-form" class="v-container hidden" action="{% url 'PastelDeNata:companyprofile' company.id %}">
                    {% csrf_token %}
                    <fieldset class="h-container star-rating-input">
                        <input id="star1" type="radio" name="stars" value="5" >
                        <label for="star1"></label>
                        <input id="star2" type="radio" name="stars" value="4">
                        <label for="star2"></label>
                        <input id="star3" type="radio" name="stars" value="3">
                        <label for="star3"></label>
                        <input id="star4" type="radio" name="stars" value="2">
                        <label for="star4"></label>
                        <input id="star5" type="radio" name="stars" value="1" checked>
                        <label for="star5"></label>
                    </fieldset>
                    <textarea placeholder="Escreva aqui a sua opiniao" name="review_text" class="styled-input"></textarea>
                    <input class="green-button" type="submit" name="action" value="SUBMETER" />
                </form>
                {% endif %}
                {% if request.user.enterprise.id == company.id %}
                    <a class="green-button" href="{% url 'PastelDeNata:companyprofileedit' request.user.enterprise.id %}">EDIT</a>
                {% endif %}

                {% if latest_reviews %}
                    {% for review in latest_reviews %}

                        <div class="review-card boxshadow" >
                            <a href="{% url 'PastelDeNata:userprofile' review.client.id %}"><img style="grid-area: icon" src="{% static 'media/' %}{{review.client.picture}}"></a>
                            <h3 class="inverse" style="grid-area: name">{% if review.client.user.is_superuser %}[MOD] {% endif %}{{review.client.user.first_name}}</h3>
                            <h4 class="inverse" style="grid-area: date; opacity: 0.5">{{ review.date|date:"d M. Y" }}</h4>
                            <div class="star-rating" style="grid-area: rating">
                                {% for i in '01234'|make_list %}
                                    <img {% if forloop.counter0 < review.value %} class="star-filled" {% endif %}
                                         src="{% static 'images/Star.svg' %}">
                                {% endfor %}
                            </div>
                            <p class="inverse" style="grid-area: review;">{{ review.review }}</p>

                            {% if review.client.id == request.user.client.id or request.user.is_superuser%}
                                <a class="remove-picture-button" href="{% url 'PastelDeNata:remove_review' company.id review.client.id%}" type="button" style="z-index: 2"></a>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                        <h4 class="inverse">Sem reviews...</h4>
                {% endif %}

            </section>
        </div>
    </div>
{% endblock %}



