{% extends "./abstract.html" %}
{% load static %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/scrollBehaviours.js' %}"></script>
    <script src="{% static 'js/editCompany.js' %}"></script>
{% endblock %}

{% block content %}
    <form id="company-edit-form" action="{% url 'PastelDeNata:companyprofileedit' company.id %}" enctype="multipart/form-data" method="post" style="width: 100%; height: 100%">
        {% csrf_token %}
        <div id="company-card">
             <div id="company-card-images">
                 {% for photo in company_photos %}
                 <div>
                     <img type="text" name="companyPhoto" style="width:100%" src="{% static 'media/' %}{{photo.href}}">
                     <button class="remove-picture-button" onclick="deleteImageField(this)" type="button"></button>
                     <input class="styled-input" type="text" name="companyPhotosSrcFixed" style="display:none" value="{{photo.href}}">

                 </div>

                 {% endfor %}


                 <input id="upload-image-company" class="styled-input" type="file" name="picture" style="width:90%">
                <button type="button" class="green-button" style="margin:1vw 0" onclick="uploadImage()">Upload</button>

            </div>
            <div id="company-card-main" >
                <h1 class="inverse">{{company.user.first_name}}</h1>
                <fieldset >
                    <select class="styled-input" type="text" name="companyDistrict">
                        {% for district in districts %}
                            <option value={{district.name}} {% if company.district.name == district.name %} selected="selected" {% endif %}>{{district.name}}</option>
                        {% endfor %}
                    </select>

                    <input class="styled-input" type="text" name="companyAddress" placeholder="Morada" value='{{company.address}}'>
                    <textarea class="styled-input" name="companyDescription" placeholder="Descricao..." style="height:25vw">{{company.description}}</textarea>
                </fieldset>
                <input class="green-button" type="submit" name="action" value="GUARDAR" />
            </div>
        </div>
    </form>
{% endblock %}
