{% extends "./abstract.html" %}
{% load static %}

{% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{% static 'js/scrollBehaviours.js' %}"></script>
        <!-- THIS SCRIPT NEEDS TO BE HERE IN ORDER TO COMBINE DJANGO/AJAX -->
        <script>
            var district = "Portugal Inteiro"
            var sorting_mode = "RAT_DESC"
            var search_string = " "
            $(document).ready(function () {

                $('#Location').change(function() {
                    district = $(this).val();
                    LoadTable();
                });
                $('#Sorting').change(function() {
                    sorting_mode = $(this).val();
                    LoadTable();
                });
                $('#SearchStr').keypress(function(event) {
                    if (event.key === 'Enter') {
                      search_string = $(this).val();
                      LoadTable();
                    }
                });
                LoadTable();
            });

            function LoadTable(){

                $.ajax({
                    url: "{% url 'PastelDeNata:get_all_companies' %}",
                    data: {
                        'district': district,
                        'search_str': search_string,
                        'sorting_mode': sorting_mode
                    },
                    success: function (response) {
                        $("#company-grid").html(response);
                    }
                });
            }
        </script>
{% endblock %}


{% block content %}
    <section id="Hero">
        <div id="Hero-Title">
            <h1 class="default">UM PEDAÇO DE TRADIÇÃO <br>A CADA DENTADA</h1>
            <p class="default">Plataforma de criticas e reviews <br> ao melhor bolo do mundo </p>

            {% if request.user.is_authenticated %}
                <button class="green-button">Ver Estabelecimentos</button>
            {% else %}
                <a href="{% url 'PastelDeNata:registar' %}" class="green-button hoverable">LOG IN</a>
            {% endif %}
        </div>
        <img id="Hero-PastelDeNata-Composition" src="{% static 'images/PastelDeNata.png' %}">
    </section>
    <main>
        <section id="Review">
            <img src = "{% static 'images/BrownBanner.svg' %}"/>
            <h3 class="default">APRECIADOR DE PASTEL DE NATA?</h3>
            <button class="green-button">Faca uma Review</button>
        </section>
        <section id="CompanyGridContainer" class="v-container">
            <h1 class="textshadow" style="font-weight: 600">DESCUBRA A SUA PROXIMA EXPERIENCIA</h1>
            <div class="h-container" id="CompanyGridContainerFilters">
                <div class="filter-input">
                    <img src="{% static 'images/IconSearch.png' %}">
                    <input id="SearchStr" type="text" placeholder="i.g. Pasteis de Belem" >
                </div>
                <div class="filter-input">
                    <img src="{% static 'images/IconSort.png' %}">
                    <select id="Sorting">
                         <option value="RAT_DESC">Melhores Avaliados</option>
                         <option value="RAT_ASC">Piores Avaliados</option>
                         <option value="REV_DESC">Mais Reviews</option>
                         <option value="REV_ASC">Menos Reviews</option>
                         <option value="ALF_ASC">A-Z</option>
                         <option value="ALF_DESC">Z-A</option>
                    </select>
                </div>
                <div class="filter-input">
                    <img src="{% static 'images/IconLocation.png' %}">
                    <select id="Location">
                        <option value="Portugal Inteiro">Portugal Inteiro</option>
                        {% for district in districts %}
                         <option value="{{district.name}}">{{district.name}}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
            <div id="company-grid-scrollview">
                <div id="company-grid">
                    <!-- INSERT COMPANIES HERE -->
                </div>
            </div>

        </section>
    </main>
{% endblock %}


