{% extends "./abstract.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/loginPanel.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="login-form">
        <div id="LoginRegisterSwitchPanel" state="login">
            <h1 class="sub textshadow" >PRONTO PARA MAIS<br>UM PASTEL?</h1>
            <img src="{% static 'images/PastelStack.png' %}">
            <a onclick="SwitchLoginState()">Ainda nao tem conta?</a>
        </div>
        <form action="{% url 'PastelDeNata:registar' %}" method="post" >
            {% csrf_token %}
            <h1 class="inverse sub textshadow">BEM-VINDO DE VOLTA</h1>

            <fieldset>
                <input class="styled-input" placeholder="email" name="email" type="email">

                <input class="styled-input" placeholder="password" name="password" type="password">
                {% if error_message %}
                <span style="color:red; margin-top: 2vw">{{error_message}}</span>
                {% endif %}

            </fieldset>

            <input class="green-button" type="submit" name="action" value="Login" />

        </form>
        <form action="{% url 'PastelDeNata:registar' %}" method="post">
            {% csrf_token %}
            <h1 class="inverse sub textshadow">VAMOS COMECAR</h1>
            <fieldset id="Register-Panel">
                <select class="styled-input" name="clientType" onchange="SwitchClientType(this)">
                    <option value="individual">Individual</option>
                    <option value="company">Empresa</option>
                </select>
                <input class="input-fill styled-input" placeholder="Nome Completo" name="username" type="text">
                <input class="styled-input" placeholder="E-mail" name="email" type="email">
                <input class="styled-input" placeholder="Password" name="password" type="password">

            </fieldset>
            <input class="green-button" type="submit" name="action" value="Registar" />
        </form>
    </div>
{% endblock %}
