{% extends "./abstract.html" %}
{% load static %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/scrollBehaviours.js' %}"></script>
{% endblock %}
{% block content %}
    <main id="company-card">
        <aside id="company-card-images">
            <img class="profile-picture" src="{% static 'media/' %}{{client.picture}}" style="border-radius: 500px"><br>
            <h4>Reviews: {{ all_reviews|length }}</h4><br>
            <h4>Avaliacao Media: {{ average_rating|floatformat:"1" }}</h4>
        </aside>
        <section id="company-card-main">
            <section id="company-card-main-info">
                <h1 class="inverse">{{client.user.first_name}}</h1>
                <h2 class="inverse">{{client.bio}}</h2>
                <span style="margin-top:1vw; white-space: pre-wrap;">{{client.description}}</span>
            </section>
            <section id="company-card-main-review">

                {% if request.user.client.id == client.id %}
                    <a class="green-button" href="{% url 'PastelDeNata:userprofileedit' request.user.client.id %}">EDIT</a>
                {% endif %}

                {% if all_reviews %}
                    {% for review in all_reviews %}
                        <a class="review-card boxshadow" href="{% url 'PastelDeNata:companyprofile' review.enterprise.id %}">
                            <img class="profile-picture" style="grid-area: icon" src="{% static 'media/' %}{{review.enterprise.photo_set.first.href}}">
                            <h3 class="inverse" style="grid-area: name">{{review.enterprise.user.first_name}}</h3>
                            <h4 class="inverse" style="grid-area: date; opacity: 0.5">{{ review.date|date:"d M. Y" }}</h4>
                            <div class="star-rating" style="grid-area: rating">
                                {% for i in '01234'|make_list %}
                                    <img {% if forloop.counter0 < review.value %} class="star-filled" {% endif %}
                                         src="{% static 'images/Star.svg' %}">
                                {% endfor %}
                            </div>
                            <p class="inverse" style="grid-area: review;">{{ review.review }}</p>
                        </a>
                    {% endfor %}
                {% else %}
                        <h4 class="inverse">Sem reviews...</h4>
                {% endif %}

            </section>
        </section>
    </main>
{% endblock %}



