@font-face {
    font-family: NATS;
    src: url('/static/fonts/NATS-Regular.ttf');
}

@font-face {
    font-family: Karla;
    src: url('/static/fonts/Karla-VariableFont_wght.ttf');
}

html {
    overflow-x: hidden;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Karla;
    color: whitesmoke;
    background-color: #0F1112;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
}

.h-container {
    display: flex;
    flex-direction: row;
}

.v-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hoverable{
    transition: all 0.2s ease;
    &:hover{
        transform: translateY(-5px);
     }
}
a {
    color: whitesmoke
}

fieldset {
    border: none;
    padding: 0;
}

input.styled-input,
select.styled-input,
textarea.styled-input {
    width: 100%;
    border-radius: 25px;
    border: 2px #250202 solid;
    margin-top: 0.6vw;
    background-color: transparent;
    padding: 0.7vw;
}

textarea {
    resize: none;
}

header {

    z-index: 2;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: NATS;
    background-color: transparent;
    transition: all 0.2s ease;
    font-size: 2.5vw;

    &>* {
        transition: all 1s ease;
        transform: translateX(calc(50vw - 50%));
    }

    &>.hidden-header {
        display: none;
    }

    & span {
        font-family: 'Courier New', Courier, monospace;
    }

    &.Header-Simplified {

        background-color: #250202;

        &>* {
            margin: 0 5vw;
            transform: translateX(0);
        }

        &>.hidden-header {
            display: inline;
        }

    }
}

a.green-button {
    text-align: center;
    text-decoration: none;
    padding: 1vw 3vw;
}

.green-button {
    background-color: green;
    width: fit-content;
    aspect-ratio: 5/1;
    padding: 1vw;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;

    &:hover {
        transform: translateY(-5px);
    }

}

.icon {
    margin: 0 1vw;

    &>img {
        height: auto;
        width: 1.5vw;
        aspect-ratio: 1;
        transition: all 0.2s ease;
    }

    &:hover>img {
        filter: brightness(500%);
        transform: translateY(-2px);
    }

}

.textshadow {
    text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4.9px;
}

.boxshadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4.9px;
}

.star-rating{
    display: flex;

    &>img{
        width: calc(100% / 5);
        height: auto;
        aspect-ratio: 1;

        &.star-filled {
            filter: brightness(0) saturate(100%) invert(59%) sepia(99%) saturate(404%) hue-rotate(349deg) brightness(100%) contrast(91%);
        }

    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: whitesmoke;
    &:not(.default) {
        margin: 0;

    }

}

.transparent-button {
    border: none;
    background-color: transparent;
}

.inverse {
    color: #2F0705;
}

h1 {
    font-weight: 800;
    font-size: 2vw;

    & .sub {
        font-size: 1.5vw;
    }

}

p:not(.default) {
    margin: 0
}

#login-form {
    margin: auto;
    width: 50vw;
    height: 30vw;
    transform: translateY(8vw);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 15px;
    text-align: center;

    &>* {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    &>form {
        background-color: #FFF3E0;
        padding: 2.5vw;

        &>* {
            width: 70%;
        }

    }

    #LoginRegisterSwitchPanel {
        z-index: 1;
        position: absolute;
        height: 100%;
        background-color: #F3A128;
        padding: 2.5vw 0;
        transition: all 0.2s ease;

        &>img {
            height: 45%;
            width: auto;
        }

        &[state="register"] {
            transform: translateX(0);
        }

        &[state="login"] {
            transform: translateX(100%);
        }

    }



}
.hidden {
        display: none;
    }
#company-card {
    display: flex;
    width: 85vw;
    margin: 7vw auto;
    min-height: 45vw;
    overflow: hidden;
    border-radius: 15px;

    & #company-card-images {
        background-color: #F3A128;
        padding: 1vw 1vw;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        &>img {
            border-radius: 10px;
            width: 80%;
            margin-top: 10%;
            object-fit: cover;
            aspect-ratio: 1;
        }

    }

    & #company-card-main {
        color: #250202;
        background-color: #FFF3E0;
        width: 75%;
        display: flex;
        flex-direction: column;
        padding: 1vw 3vw;

        &>section {
            display: flex;
            flex-direction: column;
        }

        &>#company-card-main-review {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            margin-top: 5vw;
            padding: 1vw 3vw;

            &>* {
                margin: 1vw 0;
            }
             & > #company-card-main-review-form{
                height: 20vw;
                width:100%;
                & > textarea{width:75%; height:80%}
                  & > * {margin-top:1vw;}


               }
            &>.review-card {
                padding: 2%;
                display: grid;
                width: 100%;
                min-height: 15vw;
                grid-template-columns: 3fr 15fr 2fr;
                grid-template-rows: 2vw 2vw auto;
                grid-template-areas: "icon name rating" "icon date ." ". review review";

                border-radius: 15px;
                background-color: #FFF0DA;

                transition: all 0.2s ease;

                &>img {
                    width: 75%;
                    border-radius: 500px
                }

                &:hover {
                    transform: translateY(-5px);
                }

            }
        }
    }
}

#Background-Image {
    position: fixed;
    z-index: -1;
    width: 100%;
}

#Hero {
    z-index: -1;
    height: 40vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
    padding-bottom: 17vw;
    margin-top: 7vw;
    font-family: Karla;

    & p {
        font-weight: 250;
        font-size: 1.5vw;
    }

    &>#Hero-PastelDeNata-Composition {
        transform: translateY(3vw);
        width: 25vw;
        height: 25vw;
    }

}

#Review {
    transform: translateY(-26%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    aspect-ratio: 11/6;

    color: whitesmoke;
    font-size: 1.6vw;

    &>img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
    }

    &>button {
        padding: 1% 2%;
    }

}

#CompanyGridContainer {
    margin: auto;
    width: 60%;
    & > #company-grid-scrollview{
    overflow:auto;
    width: 100%;
        aspect-ratio: 1.33;
        height:auto;
      }
    & #company-grid {
        width: 100%;
         display:grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
         grid-template-rows: 1fr;
         grid-auto-flow: row dense;
        &>.company-slot{
            text-decoration: none;
            color:black;
            border-radius:15px;
            background-color:whitesmoke;
            margin:1vw;
            height: auto;
            aspect-ratio: 251/243;
            overflow:hidden;
            &>img{
                object-fit: cover;
                width:100%; height: 65%;
             }
             & > div {
                padding: 0.35vw 0.6vw;
               }
         }
    }

    &>#CompanyGridContainerFilters {
        width: 100%;
        height:3vw;

    }

}

.filter-input {

    border-radius: 100px;
    border: whitesmoke 5px solid;
    overflow: hidden;
    height: 100%;
    flex-grow: 1;
    margin: 0 0.5vw;
    display:flex;
    align-items:center;

    &>input,
    select {
    font-size: 0.7vw;
        height: 100%;
        width: 100%;
        background-color: whitesmoke;
        border:none;
        padding:0.5vw;
    }

    &>img {
        height:65%;
        padding: 0 1vw;
        background-color: #F3A128;
    }


}

main {
    background-color: #F3A128;
    width: 100%;
    padding-bottom:7vw;

}