body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-image: linear-gradient(45deg, #50bdc9, #5690f3);
    font-size: 1vw;
    
}
a{
    color:black;
    text-decoration: none;
}
footer{
    width: 100%;
    text-align: center;
    color:white;
    background-image: linear-gradient(45deg, #225ea1, #5e98ce);
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.header-container img{
    max-width: 40%;
    height:auto;
    
    
}
.header-container{
    width: auto;
    align-content: left;
    background-color: whitesmoke;
    box-shadow: 0px 10px 20px 5px rgba(16, 16, 76, 0.3);
    padding: 2vh 4vh 4vh 4vh;
}

.generic-content-container{
    background-color: rgb(243, 241, 229);
    border-radius: 15px;
    padding: 2vw 2vw 6vw 2vw;
    margin: 2vw;
    box-shadow: 0px 10px 20px 5px rgba(16, 16, 76, 0.4);
}


/* SUBMISSAO DE PROJETOS */

.input-field{
    position: relative;
    background-color: transparent;
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    
}

.input-label{
    position: absolute;
    transition: all 0.2s;
}

.input-field:invalid:not(:placeholder-shown):not(:focus){
    background-color: rgb(255, 185, 185);
}

.input-label:has(+ .input-field:not(:placeholder-shown), + .input-field:focus){
    transform: translateY(-15px);
    font-size: 90%;
}

#studentDiv > div {
    display:flex;
    flex-direction: row;
    justify-content:left;
    margin: 1vw 0 1vw 0;
}
#studentDiv > div > div{
    margin: 0 1vw 0 1vw;
    width: 10vw;
}
#studentDiv button {
    border: none;
    padding: 5px;
}
#studentDiv img {
    width:1vw;
    height:auto;
}
#studentDiv input{
    width:100%;
}
fieldset{
    padding: 1vw;
    outline: 0;
    border-width: 2px 0 0 0;
    border-color: #ffffff;

}

input[value="Submeter"]{
    
    color:white;
    font-weight: bold;
    padding: 1vw;
}

button, input[value="Submeter"]{
    height: auto;
    background-color: rgb(86, 144, 243);
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 5px 2px rgba(86, 144, 243, 0.2);
    transition: all 0.2s;
}
button:hover, input[value="Submeter"]:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 7px 2px rgba(86, 144, 243, 0.3);
}
#addStudentButton > img{
    width:3vw;
    height: auto;

}
textarea{
    resize: vertical;
    max-width:50%;
}

















/* LISTA DE EVENTOS */
.event-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.event-list-container img{
    height: 15vw;
    aspect-ratio: 4/3;
    width:  auto;
    object-fit: cover;
    border-radius: 15px;
    
    
}
.event-list-container a{
    height: 15vw;
    aspect-ratio: 4/3;
    width:  auto;
    object-fit: cover;
    transition: all 0.2s;
}

.event-list-container a:hover{
    
    transform: translate(0, -10px);
}


table{
    width:90%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
th{
    background-color: #5690f3;
    color:white;
    padding: 5px 0 5px 0;
}
th:first-child{
    border-radius: 10px 0 0 0;
}
th:last-child{
    border-radius: 0 10px 0 0;
}
tr{
    background-color: rgb(184, 203, 255);
    border:none;
    
}
tr:nth-child(odd) {
    background-color: rgb(148, 185, 255);
    
}

.prize-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.prize-container img{
    height: 15vw;
    aspect-ratio: 4/3;
    width:  auto;
    object-fit: cover;
    border-radius: 15px;
}
.prize-container div{
    margin:2vw
}
.prize-container div:first-child{
    transform: translate(0, 30px);
}
.prize-container div:last-child{
    transform: translate(0, 60px);
}
